---
import "@assets/styles/global.css";
import PageLayout from "@layouts/PageLayout.astro";
import { getEntry } from 'astro:content';

// Get title entry
const titleEntry = await getEntry('index', 'title');
const titleData = titleEntry?.data;

// Get introduction entry and render its content
const introductionEntry = await getEntry('index', 'introduction');
let IntroductionContent;

if (introductionEntry) {
  const { Content } = await introductionEntry.render();
  IntroductionContent = Content;
  console.log(IntroductionContent)
}
---

<PageLayout>
	<div class="flex flex-col text-blue-600">
		<a href="/admin">CMS</a>
		<a href="/admin/config.yml">CMS Config</a>
		<a href="/blog/seed">Seed Post</a>
		
		<h1>{titleData?.title}</h1>
		<h2>{titleData?.paragraph}</h2>
		
		{introductionEntry?.data?.title && <h3>{introductionEntry.data.title}</h3>}
		{IntroductionContent && <IntroductionContent />}
	</div>
</PageLayout>
