---
import "@assets/styles/global.css";
import PageLayout from "@layouts/PageLayout.astro";
import { getEntry } from 'astro:content';
const titleEntry = await getEntry('index', 'title'); // Match the filename
const titleData = titleEntry?.data; // Extract the frontmatter data
const introductionEntry = await getEntry('index', 'introduction');
const introductionData = introductionEntry?.data;
---

<PageLayout>
	<div class="flex flex-col text-blue-600">
		<a href="/admin">CMS</a>
		<a href="/admin/config.yml">CMS Config</a>
		<a href="/blog/seed">Seed Post</a>
		<h1>{titleData?.title}</h1>
		<h2>{titleData?.body}</h2>
		<h3>{introductionData?.title}</h3>
		<p>{introductionData?.body}</p>
	</div>
</PageLayout>
